.signIn {
  display: none;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 200px;
  border-radius: 10px;
  background-color: lightgray;
  cursor: pointer;
}
.visible {
  display: flex;
}
