.header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  min-height: 50px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid black;
  .rightSide {
    display: flex;
    & > :not(:first-child) {
      margin-left: 10px;
    }
  }
}
